@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


.for3 {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    width: 340px;
    text-align: center;
}

.for3 Input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 0;
    border-radius: 12px;
    border: 1px solid black;
    padding: 15px;
    margin-top: -50px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
}

.for3 input:focus {
    background: #dbdbdb;
}


.for3 span {
    font-size: 40px;
    color: #4b6cb7;
    margin-bottom: 25px;
    display: block;
}

.for3 p.error {
    margin-top: 10px;
    text-align: left;
    font-size: 10px;
    color: red;
}



/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
}

.left {
    width: 35%;
}

.right {
    width: 65%;
    margin-top: 20px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*create column for view supplier orders*/
.colum {
    float: left;
    padding: 10px;
    height: 120px; /* Should be removed. Only for demonstration */
}

.col1 {
    width: 30%;
}

.col2 {
    width: 60%;

}
.col3{
    width: 10%;
}

/* Clear floats after the columns */
.row2:after {
    content: "";
    display: table;
    clear: both;
}
.colum2 {
    float: left;
    width: 100%;
    padding: 10px;
    height: 120px;

}
.colLeft {
    width: 45%;
    background-color: #88a6f2;
    border-radius: 15px;
    height: 450px;
}

.colRight {
    width: 45%;
    background-color: #88a6f2;
    border-radius: 15px;
    margin-left: 20px;
    height: 450px;
}
.row3 {
    content: "";
    display: table;
    clear: both;
    width: 100%;

}

.colum3 {
    float: left;
    padding: 10px;
    height: 120px; /* Should be removed. Only for demonstration */
}

.colSide1 {
    width: 30%;
}

.colSide2 {
    width: 30%;
    margin-left: 20px;
}
.colSide3{
    width: 30%;
}

/* Clear floats after the columns */
.row3:after {
    content: "";
    display: table;
    clear: both;
}
.itemName{
    height:40px;
    font-size: 15px;
    margin-bottom: -15px;
}

/*for table*/

.main-container-tables2{
    width: 88%;
    height: 70%;
    background-color: #cae3f5;
    float: left;
    border-radius: 15px;
    font-size: 14px;
    padding: 10px;
    margin-top: 1vh;
    margin-left: 70px;
}
.main-container-tables3{
    width: 100%;
    height: 450px;
    background-color: #cae3f5;
    float: left;
    border-radius: 15px;
    font-size: 14px;
    padding: 10px;
    display: flex;
    margin-top: 1vh;

}
.main-container-tables4{
    width: 88%;
    height: 70%;
    background-color: #cae3f5;
    float: left;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 14px;
    padding: 10px;
    margin-top: 1vh;
    margin-left: 70px;
}
.searchBar{
    float: right;
    border-radius: 15px;
    height: 30px;
    width: 200px;
    padding: 10px;
}
.table-container2{
    width: 100%;
    height: 100%;
    padding: 0px;
    color: red;
}

/*for supplier orders page */
.viewData{
    width: 70%;
    height: 70%;
    background-color: #fef4f5;
    border-radius: 18px;
    border: 1px solid #000000;
    font-size: 14px;
    padding: 10px;
    margin-top: 1vh;
    margin-left: 160px;
}

.imgUser{
    width: 130px;
    height: 100px;
}
#orders {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
#orders td{
    border: none;
    padding: 4px;
}

.selectBtn{
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    background-color: #326ad9;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    float: right;
    margin-top: 70px;
}
.selectBtn2{
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    background-color: #72fca9;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin-top: 0px;
}
.selectBtn3{
    width: 140px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    background-color: #54b9ff;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin-top: 0px;
}
.selectBtn4{
    width: 70%;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #ec5f5f;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin-left: 60px;
}
.inputFieldStatus{
    width: 150px;
    border-radius: 15px;
}